
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 10px;
  color: inherit;
  /*text-transform: uppercase;
  text-decoration: none;*/
}

@media all and (min-width:768px) {
  .header {
    @include flex-between();
    padding: 20px 20px 20px 30px;
  }
}
