.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-bg-header;
  text-align: center;
  padding: 10px 10px 3px 10px;
}

.logo__link {
  display: inline-block;
}

.logo {
  display: block;
}
